@using System.Globalization
@model List<EventWithSchedule>
@{
    ViewData["Title"] = "Home Page";

    User user = new User();
    if (Context.Items.ContainsKey("User"))
    {
        user = Context.Items["User"] as User;
    }
}

<div class="container px-4 px-lg-5">
   <div class="row align-items-center my-5">
        <div class="overflow-auto" style="width:100%">
            @Html.RenderPartialAsync("_EventWithScheduleList", Model)
        </div>
    </div>
</div>